.galleryWrapper {
    position: relative;
    width: 100%;
    min-height: 484px;
    padding: 100px 0;
    background: url(./galleryBackground.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.galleryContainer {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    gap: 32px;
    color: var(--light);
    justify-content: space-between;
}

.galleryButton {
    width: 40px;
    height: 40px;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--light);
    color: var(--light);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.galleryButton:hover {
    box-shadow: 0 0 8px var(--light);
    transition: .2s;
}

.gallerySlide {
    position: relative;
    min-height: 284px;
}

.gallery {
    position: relative;
    width: 100%;
    min-height: 284px;
    max-width: 1216px;
    min-width: 1216px;
}

.slideName {
    font-family: "Muller Normal";
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 32px;
}

.slideDesc {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    max-width: 700px;
    margin-bottom: 24px;
    color: #F7F9FE;
    min-height: 96px;
}

.slideButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 8px 24px;
    transition: .2s;
}

.slideButton:hover {
    background: var(--light);
    transition: .2s;
}

.slideButton p {
    font-family: "Open Sans Normal";
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #F7F9FE;
    transition: .2s;
}

.slideButton:hover p{
    color: var(--accent);
    transition: .2s;
}

@media screen and (max-width: 1400px) {
    .galleryContainer {
        max-width: 768px;
    }

    .galleryWrapper {
        padding: 50px 0;
    }

    .gallery {
        max-width: 600px;
        min-width: 600px;
    }

    .slideName {
        height: 112px;
        overflow: hidden;
    }

    .slideDesc {
        height: 160px;
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    .galleryContainer {
        max-width: 312px;
    }

    .galleryWrapper {
        padding: 30px 0;
    }

    .gallery {
        max-width: 312px;
        min-width: 312px;
    }

    .galleryButton {
        position: absolute;
        bottom: -10px;
        left: 0;
    }

    .galleryButton:last-child {
        left: 50px;
    }

    .slideName {
        font-size: 30px;
        line-height: 30px;
        height: 60px;
    }

    .slideDesc {
        font-size: 14px;
        line-height: 24px;
        height: 96px;
    }

    .galleryWrapper {
        min-height: unset;
    }

    .galleryContainer {
        padding-bottom: 24px;
    }
}