/* fonts */

@font-face {
  font-family: "Open Sans Normal";
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Muller Normal";
  src: url("./fonts/MullerRegular.ttf");
}

body {
  margin: 0;
  font-family: "Open Sans Normal";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* varibles */

:root {
  --light: #fff;
  --dark: #222;
  --accent: #F21F5B;
}
